body {
  padding: 10px 30px;
  font-family: sans-serif;
}

h1 {
  font-weight: 200;
}

.form {
  font-size: 16px;
}

.form * {
  line-height: 1.5;
  box-sizing: border-box;
  padding: 8px;
}

.form__item {
  display: flex;
  flex-direction: row;
}

.form__item > * {
  align-self: center;
}

.form__label {
  font-weight: 200;
  padding: 10px 10p;
}

.form__input {
  -webkit-appearance: none; /* removes default formatting on some browsers */
  padding: 0.5em;
  font-size: 0.9em;
  font-family: sans-serif;
  outline: none;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: #f9f9f9;
}

.form__input::placeholder {
  color: #b0b0b0;
}

.form__btn {
  font-size: 1em;
  padding: 4px 12px;
  border: 1px solid #878787;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form__btn:active {
  background: #c7c7c7;
}

.form__param {
  display: flex;
  flex-direction: row;
}
